<!DOCTYPE html>
<html lang="en">

    <%- include('lay/header')%>
<body>
    
    
    <!-- Preloader starts -->
    <div class="mega-site-preloader-wrap">
        <div class="cont">
            <div class="line square"></div>
            <div class="line square2"></div>
            <div class="line square3"></div>
            <div class="line square4"></div>
        </div>
    </div>
    <!-- Preloader ends -->
                     
    <div data-speed="0.3" class="dark-overlay header-area header-style-3">
        <div class="container"> 
           <%- include('lay/navbar'); -%>
            
            <div class="row">
                <div class="col-md-5">
                    <div class="hero-text padding-100">
                        <h2>About us</h2>
                        <p>Perfect taste that you can use for any event to delight your loved ones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="padding-100">
                        <h2 class="weight-300">We have a beautiful story to tell.</h2>
                        <p>Friends! We built Alex & Milana pastry shop in December 2017. To this day, it is successfully developing and working. Our small and very friendly team prepares the most delicious custom-made cakes every day, which leave every morning to decorate your holiday.
                        We are happy to make cakes for children, birthday cakes, anniversary cakes and wedding cakes. We come up with an individual decor from chocolate, decor on sugar paper and much more)We use exclusively natural and high quality ingredients in desserts. This is the principled position of the company! </p>
                    </div>
                </div>
                
                <div class="col-md-6 col-md-offset-1 col-sm-7 text-right">
                    <img src="img/l.jpg" alt="">
                </div>
            </div>
        </div>
    </div> 
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="section-heading">
                    <h2>Why you should choose us?</h2>
                    <p>Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. </p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="check-item">
                            <h4>Professional Workers</h4>
                            <p>Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh.</p>
                        </div>
                        <div class="check-item">
                            <h4>Creative Outputs</h4>
                            <p>Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="check-item">
                            <h4>Best Quality</h4>
                            <p>Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh.</p>
                        </div>
                        <div class="check-item">
                            <h4>Fastest Delivery</h4>
                            <p>Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    
    
     
    <div class="specer-70"></div>
      
    
    <%- include('lay/footer'); -%>
    <%- include('lay/script'); -%>
</body>
</html>   