<div class="footer-area wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wid">
                        <h3>Cooking Blog</h3>
                        <p>We strive to do our best to maintain this connection - starting with our commitment to selecting the highest quality coffee in the world and ending with how we interact with guests.</p>
                        
                        <p class="big-text"><i class="fa fa-envelope"></i> Info@cookingblog.com<br/> <i class="fa fa-phone"></i> 87056023504</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wid">
                        <h4>Important Links</h4>
                        <ul>
                            <li><a href="index.html">Homepage</a></li>
                            <li><a href="about-construction.html">About Us</a></li>
                            <li><a href="services-agency.html">Account</a></li>
                            <li><a href="user-details.html"> Portfolio</a></li>
                            <li><a href="login-2.html">Login</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wid">
                        <h4>Our Sister concerns</h4>
                        <ul>
                            <li><a target="_blank" href="http://themeforest.net">ThemeForest</a></li>
                            <li><a target="_blank" href="http://codecanyon.net">CodeCanyon</a></li>
                            <li><a target="_blank" href="http://graphicriver.net">GraphicRiver</a></li>
                            <li><a target="_blank" href="http://audiojungle.net">AudioJungle</a></li>
                            <li><a target="_blank" href="http://3docean.net">3DOcean</a></li>
                            <li><a target="_blank" href="http://help.envato.com">Envato Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-wid">
                        <h4>Contact info</h4>
                        <p>Kazakhstan,Almaty,Samal-2.</p>
                        <p>8 705 805 29 01<br/>
                        cookingblog.@gmail.ru</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">© Almaty 2020.</div>
                </div>
            </div>
        </div>
    </div>
    